body {
    padding: 0;
    margin: 0;
    text-align:left;
	font-family: Arial;
	font-size:14px;
	color:#000000;
    background: url(../images/weather-bg2.jpg) repeat; /* брендування фону */
}
header {
    height: 120px;
    width: 960px;
    padding: 0;
    margin: 0 auto;
    background:url(../images/header1.jpg) no-repeat top;
}
#logo {
    height: 90px;
    width: 197px;
    float: left;
    margin: 15px;
    background:transparent url(../images/logo-weather.png) no-repeat;
}
nav {
     display: block;
     margin: 0 auto; 
     height: 40px;
     width: 960px;
     background-color: #a9a9a9; /* колір фону меню */
}
nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}
nav li {
     float: left;
     padding: 0px;
     margin-right: 2px; /* відступ пункта меню */
     font-size: 16px;     
}
nav li a {
     display: block; 
     padding: 10px 20px;  /* відступи-розміри для пунктів */
     background: #c0c0c0; 
     color: #fff; 
     text-decoration: none; /* лінки без підкреслювання */
     position: relative; 
}
nav li a:hover {
     background: #92d3d3; /* колір блока при наведенні */
     color: #6b6b6b;  /* колір тексту при наведенні */
}
#main {
    width: 960px;
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* тінь блогової частини */
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);     
}
#feedbackForm {
    margin: 0 25px;
}
h1 {
    margin: 0;
    padding: 15px;
    color: blue;
}
table, th, td {
    text-align: center;
}
table {
    border-color: #F5F5F5;
}
th {
    background-color: aliceblue;
}
footer {    
    clear: both;
    padding: 10px;
}
#copy {
    color: darkgrey;
    font-size: 80%;
}